@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition: all 0.3s linear;
}
$blue: #29d9d5;
$black: #111;
$white: #fff;
$light-color: #aaa;
$light-bg: #222;
$dark-bg: rgba(17, 17, 17, 0.7);
$border: 2px solid $blue;

html {
  background-color: $black;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: $black;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $blue;
  }
}
h1{
    font-size: 5vw;
    color: $white;
}
h2{
    font-size: 3vw;
    color: $white;
}
h3{
    color: $blue;
    font-size: 2rem;
}
h4{
    color: $white;
    font-size: 1.8rem;
}
p{
    margin: 1rem 0;
    max-width:60rem;
    font-size:1.3rem;
    color:$light-color;
    line-height: 2;
    padding-bottom: 4rem;
}
.main-container{
    width: 90%;
    margin: 9rem auto;
}
.sub-container{
    width: 80%;
    margin: 5rem auto;
}
 .content-header{
    text-align: center;
    margin: 6rem 0;
}
.btn {
  background-color: transparent;
  border: $border;
  color: $blue;
  font-size: 1.9rem;
  padding: 1rem 3rem;
  border-radius: 0 2rem 0 2rem;
  &:hover {
    background-color: $blue;
    color: $black;
  }
}
.logo {
    color: $white;
    font-size: 3rem;
    font-weight: 600;
    i {
      color: $blue;
    }
  }
  input:not([type=submit]){
    background-color: transparent;
    border: $border;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
#menu-bar {
    color: $white;
    font-size: 2.5rem;
    display: none;
  }
  @mixin grid ($val){
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax($val,1fr));
      gap: 1.5rem;
  }
/* header styling*/
.header {
  background-color: $light-bg;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1.5rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;

 
  .navbar a {
    font-size: 1.8rem;
    color: $light-color;
    padding-right: 1rem;
    padding-left: 1rem;
   
    &:hover {
      color: $blue;
    }
  }
}

/* home styling*/
#home{
    margin-top: 9rem;
    min-height: 80vh;
    background:linear-gradient($dark-bg,$dark-bg), url("../images/home-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .content{
        text-align: center;
        font-weight: bolder;
        span{
            font-size:5vw;
             color: transparent;
             -webkit-text-stroke: 0.1rem $white;
        }
    }
    
}

/* booking form styling*/
#book-form{
    background-color: $light-bg;
    margin-top: -5rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 $dark-bg;
    
    form{
        padding:3rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        span{
            color: $light-color;
            display:block;
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }
       
    }
}


/* about styling*/
#about{
    margin: 9rem 0;
    display: flex;
    justify-content: space-around;
   
    .video-container{
           width: 45%;
           video{
               width: 100%;
               border-radius: 1.5rem;
           }
           .controls{
               text-align: center;
               padding: 2rem 0;
           }
           span{
               display: inline-block;
               height: 1.5rem;
               width:1.5rem;
               border-radius: 50%;
               background-color: $white;
               cursor: pointer;
               margin: 0.7rem;
               &:hover{
                   background-color: $blue;
               }
           }
    }
    .content{
        width: 45%;
    }
}


/* destination styling*/

._destination{
 
    .box-container{
        @include grid(30rem);
       
    }
    .box{
        border-radius: 2rem;
        overflow: hidden;
        &:hover img{
            transform: scale(1.2,1.2);
        }
        .image{
          
            overflow: hidden;
            height: 20rem;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .content{
            background-color: $light-bg;
            padding: 2rem;
            text-align: center;
          
            p{
                margin: 0 auto;
                max-width: 80%;
                padding-bottom: 2rem;
            }
            a{
                color: $blue;
                font-size: 1.7rem;
                &:hover{
                   
                    i{
                        padding-left:9px;
                        transform: translateX(5px);
                    }
                }
            }
        }
    }

}

/* services styling*/
#services{
    .services{
        margin-top: 7rem;
        @include grid(30rem);
        .service{
            border-radius: 2rem;
            padding-top: 5rem;
            text-align: center;
            background-color: $light-bg;
            i{
                color: $blue;
                font-size: 4rem;
                padding-bottom: 1rem;
            }
            p{
                margin: 0 auto;
                max-width: 75%;
            }
            &:hover{
                border: $border;
            }
        }
    }
}

/* gallary styling*/
 #gallary{

     .box-container{
         columns: 3 27rem;
         column-gap: 1.5rem;
         .box{
            
             margin-bottom: 2rem;
             span{
                 color: $light-color;
                 font-size: 1.7rem;
             }
             img{
                border-radius: 2rem;
                 width: 100%;
             }
         }
     }
 }

 /* blogs styling*/
#blogs{
    .content{
        text-align: start;

        h4,span {
            cursor: pointer;
            &:hover{
                color: $blue;
            }
        }
        p,span{
            color: $light-color;
            font-size: 1.5rem;
            margin: 1rem 0;
        }
      
        i{
            font-size: 1.4rem;
            color: $blue;
            padding-right: 0.5rem;
            
               &:last-of-type{
                margin-left:9rem;
               }
        }
        
    }
}

/* banner styling*/
.banner{
    background:linear-gradient($dark-bg,$dark-bg), url('../images/banner-bg.jpg') no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    .content-header{
       padding: 4rem 0;
       p{
           margin: 0 auto
       }
    }
}

/* footer styling*/
footer{
    .footer-container{
        @include grid(20rem);
        ._box{
            padding:1rem 0;
            .share{
                i{
                    font-size: 2rem;
                    color: $blue;
                    margin: 0 0.3rem;
                    padding: 0.8rem 0.8rem;
                    border: $border;
                    border-radius: 50%;
                  &:hover{
                      color: $black;
                      background-color: $blue;
                  }
                }
            }
            .navigate{
                display: flex;
                flex-direction: column;
                margin-top: 1.5rem;
                a{
                    font-size: 1.4rem;
                    padding: 1.5rem 0;
                    color: $light-color;
                    &:hover{
                        color: $blue; 
                        padding-left: 1rem;
                    }
                    i{
                        color: $blue;
                        padding-right: 0.4rem;
                    }
                }
            }
            .info{
                p{
                    padding: 1rem 0;
                }
                i{
                    color: $blue;
                    padding-right: 0.6rem;
                }
            }
            input{
                display: block;
                margin-bottom: 3rem;
            }
        }
    }
}

/* media queries */
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  #blogs{
    .content{
        text-align: center;
    }
    }
 
}
@media (max-width: 767px) {
    #menu-bar{
        cursor: pointer;
        display: inline-block;
      }
  .navbar{
      position: absolute;
      top:99%;
      right: 0;
      left: 0;
      background-color: $light-bg;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      &.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
       a{
           margin: 2rem;
           display: block;
       }
  }
  #about{
       flex-direction: column;
       align-items: center;
       .video-container{
        width: 90%;
       }
       .content{
         margin-top: 2rem;
        width: 90%;
        p{
           margin: 2rem 0;
        }
       }
       
  }
}
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
  .header{
    padding: 1rem 5%;
  }
  form{
      input{
          margin-bottom: 1.5rem;
        &[type='submit']{
            width: 100%;
        }
      }
  }
  #blogs{
        i{
               &:last-of-type{
                margin-left:4rem;
               }
        }
        
    }
}
